html, body, #wrapper {
    height:100%;
}
@font-face {
	font-family: Digital7;
	src: url("../fonts/digital-7.ttf");
}

body {
    padding-top: 5px;
}

#txtMember {
	margin: auto;
	width: 70%;
}
#tblResults{
	width:95%;
	margin: auto;
	display: none
}
#pTime{
	font-weight: bolder;
	font-size: 100px;
	font-family: 'Digital7';
}
#pError{
	font-weight: bolder;
	color: red;
	text-align:center;
	margin-top: 1px;	
}
#customMin{
	background: green;
	color: white;
	padding-bottom: 10px;
}
#customAvg{
	background: yellow;
	padding-bottom: 10px;
}
#customMax{
	background: red;
	color: white;
	padding-bottom: 10px;
}
#btnInvert{
	height: 45px;
	margin-top: -1px;
}
#btnTimer{
	height: 45px;
	margin-right: 8px;
}
#tblActions{
	font-size: larger;
}

#tblControls td {
    text-align: center;
}

#btnPlay, #btnPause, #btnStop, #btnRestart {
    width: 100%;
}

#btnVibrate {
    display: none;
}
.divOptions {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.divImage {
	height: 100%;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hiddenElements{
	display: none;
}

.centeredElements{
	text-align: center;
}

.centeredDivs{
	margin: auto; 
}

.timingfield{
	margin: auto;
}

.popover-title {
    font-weight: bold;
}

.btnconfirm {
    margin-left: 5px;
}

.centeredTimeOptions{
    margin: auto;
    width: min-content;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
}

.bottom-footer {
    position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
	max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
@media screen and (max-width: 712px) {
	#tblControls {
		width:100%;
	}
	#tdLeft, #tdRight {
		width: 25%;
	}
	#tdMiddle {
		width: 50%;
	}
}
@media screen and (max-width: 712px) and (max-height: 520px){
    #btnPlay, #btnPause, #btnStop, #btnRestart {
		width: 95%;
		height: auto;
    }
}
@media screen and (max-width: 930px) and (max-height: 500px){
    #btnPlay, #btnPause {
		height: 95%;
		width: auto;
    }
}
@media screen and (max-width: 615px) {
    #selectTimes, .select2 {
        width: 95% !important;
        padding-bottom: 5px;
    }
    #txtMember {
        margin: auto;
        width: 95%;
    }
}
