@font-face{
    font-family:Digital7;
    src:url(../fonts/digital-7.ttf)
}
body,h3{
    padding-top:5px
}
#wrapper,body,html{
    height:100%
}
#chkAll{
    vertical-align:middle;
}
#innerTime{
    font-weight:bolder;
    text-align:center
}
#customMax,#customMin{
    color:#fff;
    padding-bottom:10px
}
#customAvg,#customMax,#customMin{
    padding-bottom:10px
}
#btnVibrate,#innerTime,#tblResults{
    display:none
}
#txtMember{
    margin:auto;
    width:70%
}
#tblResults{
    width:95%;
    margin:auto
}
#innerTime{
    font-size:36px;
    font-family:Digital7;
    color:#757575
}
#customMin{
    background:green
}
#customAvg{
    background:#ff0
}
#customMax{
    background:red
}
#btnInvert{
    height:45px;
    margin-top:-1px
}
#btnTimer{
    height:45px;
    margin-right:8px
}
#tblActions{
    font-size:larger
}
#innerTime,#tblControls td,.centeredElements{
    text-align:center
}
.basicAction{
    width:100%
}
.linkCol{
    color:red;
}
.linkColY{
    color:#ff0;
}
.divOptions{
    padding:0;
    margin:0;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:row wrap
}
.divImage{
    height:100%;
    padding:0;
    margin:0;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    align-items:center;
    justify-content:center
}
.hiddenElements{
    display:none
}
.customTimes{
    text-align:center!important;
    font-size:40px!important;
    padding-top:0!important;
    font-family:'Digital7';
}
.centeredDivs,.timingfield{
    margin:auto
}
.btnconfirm{
    margin-left:5px
}
.centeredTimeOptions{
    margin:auto;
    max-width: 300px;
    padding-right:7px;
    padding-left:7px;
    border-radius:5px
}
.bottom-footer{
    position:absolute;
    left:0;
    bottom:0;
    width:100%
}
.vertical-alignment-helper{
    display:table;
    height:100%;
    width:100%;
    pointer-events:none
}
.vertical-align-center{
    display:table-cell;
    vertical-align:middle;
    pointer-events:none
}
button,.btn {
    outline: none !important;
}
.modal-content{
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin:0 auto;
    pointer-events:all
}
.gray-tooltip + .tooltip > .tooltip-inner {
    background-color: #cfd8dc;
    color:black;
}
.gray-tooltip + .tooltip.top > .tooltip-arrow {
     border-top-color:#cfd8dc;
}
.gray-tooltip + .tooltip.left > .tooltip-arrow {
     border-left-color:#cfd8dc;
}
.gray-tooltip + .tooltip.right > .tooltip-arrow {
     border-right-color:#cfd8dc;
}
.gray-tooltip + .tooltip.bottom > .tooltip-arrow {
    border-bottom-color:#cfd8dc;
}
@media screen and (max-width:712px){
    #tblControls{
        width:100%
    }
    #tdLeft,#tdRight{
        width:25%
    }
    #tdMiddle{
        width:50%
    }
}
@media screen and (max-width:600px) and (max-height:600px){
    #innerTime{
        font-size:70px;
    }
}
@media screen and (max-width:800px) and (max-height:800px){
    #innerTime{
        font-size:100px;
    }
}
@media screen and (max-width:712px) and (max-height:520px){
    .basicAction{
        width:95%;
        height:auto
    }
}
@media screen and (max-width:930px) and (max-height:500px){
    #btnPause,#btnPlay{
        height:95%;
        width:auto
    }
}
@media screen and (max-width:615px){
    #selectTimes,.select2{
        width:95%!important;
        padding-bottom:5px
    }
    #txtMember{
        margin:auto;
        width:95%
    }
}
@media screen and (orientation:landscape){
    #divInnerTime{
        margin-top:-25px
    }
}
@media screen and (orientation:portrait){
    #divInnerTime{
        margin-top:0
    }
}
